
.vs/DesignPatternC++/FileContentIndex/89118096-4a94-4c2e-8422-23e9716f7520.vsidx
.vs/DesignPatternC++/FileContentIndex/43360b97-50dc-4d5a-b5c8-7d468aa147ea.vsidx
.vs/DesignPatternC++/v17/Browse.VC.db
.vs/DesignPatternC++/v17/Browse.VC.db
.vs/DesignPatternC++/v17/Browse.VC.db-shm
.vs/DesignPatternC++/v17/Browse.VC.db-wal
.vs/DesignPatternC++/v17/Browse.VC.opendb
